In [1]:
import sqlite3

def connect_to_c2db():
    try:
        conn=sqlite3.connect('c2db.db');
        print("The connection to c2db is on!");
        return conn
    except Error:
        print(Error);
        
def list_c2dbtables(conn):
    c = conn.cursor();
    c.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = c.fetchall();
    return tables;

def c2dbtable_info(conn, table):
    c = conn.cursor();
    return c.execute("PRAGMA table_info("+table+")" ).fetchall();
    
def list_c2dbtable_columns(conn, table):
    col_info = table_info(conn,table);
    return [ cname for index, cname,ctype,x,y,z in col_info];

        
def list_rows_in_c2dbtable(conn, table):
    N=1
    c = conn.cursor(); 
    c.execute("SELECT name FROM "+table+" limit "+str(N) )
    rows = c.fetchall();
    print("\n-----------------\nRows in from "+table+" table from C2DB\n-----------------");
    for r in rows:
        print(*rows);

# Connect to the database

When one connects to a file that does not exits such as my_c2db.db, then it creates a file which will hold the database

In [36]:
conn= connect_to_c2db();
table_names = list_tables(conn)

for t in table_names:
    t= t[0];
    print("---------");
    print(t);
    print("---------");
    cnames = list_table_columns(conn,t);
    print(cnames)
    print("\n");

The connection to c2db is on!
---------
systems
---------
['id', 'unique_id', 'ctime', 'mtime', 'username', 'numbers', 'positions', 'cell', 'pbc', 'initial_magmoms', 'initial_charges', 'masses', 'tags', 'momenta', 'constraints', 'calculator', 'calculator_parameters', 'energy', 'free_energy', 'forces', 'stress', 'dipole', 'magmoms', 'magmom', 'charges', 'key_value_pairs', 'data', 'natoms', 'fmax', 'smax', 'volume', 'mass', 'charge']


---------
sqlite_sequence
---------
['name', 'seq']


---------
species
---------
['Z', 'n', 'id']


---------
keys
---------
['key', 'id']


---------
text_key_values
---------
['key', 'value', 'id']


---------
number_key_values
---------
['key', 'value', 'id']


---------
information
---------
['name', 'value']

In [12]:
c = conn.cursor();
rows = c.execute(" SELECT * from sqlite_sequence");
print(rows.fetchall())

[('systems', 4047)]

In [35]:
rows = c.execute(" SELECT COUNT(*) from keys where id=");

print(rows.fetchall())

rows = c.execute(" SELECT COUNT(*)/4047 from keys ");

print(rows.fetchall())

[(71,)]
[(103,)]